<!DOCTYPE html>
<html>
    <head>
	<link rel="stylesheet" type="text/css" href="/static/styles/general.css">
    </head>
    <body>
      {% if path %}
      <h2><font color="red">{{ "That path doesn't exist: {0} ".format(path) }}</font></h2>
      {% endif %}
	<h1>Experiments</h1>
	<div id="tabs">
	    <ul class="tab">
		<li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, '$tab')">Current Experiments</a></li>

		<form style="float: right;"action="/login" method="GET">
		    <input type="submit" value="Logout" name="Logout" id="frmLogout" />
		</form>

		<form style="float: right;"action="/new_experiment" method="GET">
		    <input type="submit" value="New Experiment" name="newExp" id="frmNewExp" />
		</form>
	    </ul>
	</div>
	<div id="Current Experiments">
	    <table>
		<th>Experiment ID</th>
		<th>Experiment Owner</th>
		<th>Start Date</th>
		<th>End Date</th>

		{% for key,row in experiments.iterrows() %}
		<tr>
		    <td> <a href="/experiment?experiment={{ row[0] }}"> {{ row[0] }} </a> </td>
		    <td>{{ row[3] }}</td>
		    <td>{{ row[1] }}</td>
		    <td>{{ row[2] }}</td>
		</tr>
		{% endfor %}
	    </table>
	</div>



	<script>

	 function openTab(evt, option) {
	     var i, tabcontent, tablinks;
	     tabcontent = document.getElementsByClassName("tabcontent");
	     for (i = 0; i < tabcontent.length; i++) {
		 tabcontent[i].style.display = "none";
	     }
	     tablinks = document.getElementsByClassName("tablinks");
	     for (i = 0; i < tablinks.length; i++) {
		 tablinks[i].className = tablinks[i].className.replace(" active", "");
	     }
	     document.getElementById(benchName).style.display = "block";
	     evt.currentTarget.className += " active";
	 }
	</script>
    </body>
</html>
